/*#gmaps4rails_map {
  width: 400px;
  height: 200px;
}*/
/*
.yellow {
	border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px;
}*/

.map-container {
  position: relative;  
  width: 800px;
}

.gmaps4rails_map {
  width: 800px;
  height: 400px;
}