/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require gmaps4rails 
*/

.my-marker {
  background-color: red;
  width: 30px;
  height: 50px;
  padding: 5px;
  font: 10% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }